<head>
<style>
#header {
    background-color:rgb(255,225,0);
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:510px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    background-color:#E5E4E2;
    width:87%;
    height:500px;
    color:black;
    float:left;
    padding:10px;
}
#footer {
    background-color:rgb(255,225,0);
    color:black;
    clear:both;
    text-align:center;
   padding:5px;
}
#Graphs{
  color:white;
  height:100%;
  width:100%;
  padding:5px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: black;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
</style>
</head>
<body>

<div id="header">
<h1>Welcome to online HR department</h1>
</div>

<div id="nav">
  <ul>
    <li><a href="/welcome/index">Home</a></li>
    <li><a href="/persons">People Files</a></li>
    <li><a href="/persons/new">New person</a></li>
    <li><%= link_to 'Display', persons_display_path%></li>
  </ul>
</div>

<div id="section">
  <h1><center>Graphical Display:)</center></h1>
  <div id='Graphs'>
      <% @persons.each do |g| %>
          <svg width="<%=g.weight%>" height="<%=g.height%>">
              <rect width = "<%=g.weight%>" height="<%=g.height%>" style="fill:<%=g.color%>;stroke-width:0;"/>
              <text x="10%" y="20%"  text-anchor="left" fill="#BCC6CC">Name:<%=g.name%></text>
              <text x="10%" y="50%"  text-anchor="left" fill="#BCC6CC">Age:<%=g.age%></text>
              <text x="10%" y="80%"  text-anchor="left" fill="#BCC6CC">Sex:<%=g.sex%></text>
          </svg>
      <% end %>
  </div>
</div>

<div id="footer">
Graphs are pretty fun too!
</div>

</body>
