<head>
<style>
#header {
    background-color:rgb(255,225,0);
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    background-color:white;
    width:85%;
    color:black;
    float:left;
    padding:10px;
}
#footer {
    background-color:rgb(255,225,0);
    color:black;
    clear:both;
    text-align:center;
   padding:5px;
}
</style>
</head>
<body>

<div id="header">
<h1>Welcome to online HR department</h1>
</div>

<div id="nav">
<%= link_to 'Home', controller: 'welcome' %>
<br>
<%= link_to 'People Files', controller: 'persons' %>
<br>
<%= link_to 'New person', new_person_path %>
</div>

<div id="section">
<h2>Listing People</h2>
<style>
table,th,td{
  border: 1px solid black;
}
th{
  padding: 15px;
}
</style>

<table border="1" style="width:100%">
  <tr>
    <th>Name</th>
    <th>Weight</th>
    <th>Height</th>
    <th>Color</th>
    <th>Age</th>
    <th>Sex</th>
    <th colspan="3">Actions</th>
  </tr>

  <% @persons.each do |person| %>
    <tr>
      <td><%= person.name %></td>
      <td><%= person.weight %></td>
      <td><%= person.height %></td>
      <td><%= person.color %></td>
      <td><%= person.age %></td>
      <td><%= person.sex %></td>
      <td><%= link_to 'Show', person_path(person) %></td>
      <td><%= link_to 'Edit', edit_person_path(person) %></td>
      <td><%= link_to 'Destroy', person_path(person),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

</div>

<div id="footer">
Editing is fun on our website!
</div>

</body>
