<h1>Listing persons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Weight</th>
    <th>Height</th>
    <th>Color</th>
    <th>Age</th>
    <th>Sex</th>
  </tr>

  <% @articles.each do |person| %>
    <tr>
      <td><%= person.name %></td>
      <td><%= person.weight %></td>
      <td><%= person.height %></td>
      <td><%= person.color %></td>
      <td><%= person.age %></td>
      <td><%= person.sex %></td>
    </tr>
  <% end %>
</table>
