<h1>Listing persons</h1>
<%= link_to 'New person', new_person_path %>
<table>
  <tr>
    <th>Name</th>
    <th>Weight</th>
    <th>Height</th>
    <th>Color</th>
    <th>Age</th>
    <th>Sex</th>
    <th colspan="2"></th>
  </tr>

  <% @persons.each do |person| %>
    <tr>
      <td><%= person.name %></td>
      <td><%= person.weight %></td>
      <td><%= person.height %></td>
      <td><%= person.color %></td>
      <td><%= person.age %></td>
      <td><%= person.sex %></td>
      <td><%= link_to 'Show', person_path(person) %></td>
      <td><%= link_to 'Edit', edit_person_path(person) %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Back to welcome page.',controller:'welcome' %>
