<p>
  <strong>Name:</strong>
  <%= @person.text %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @person.amount %>
</p>

<p>
  <strong>Height:</strong>
  <%= @person.amount %>
</p>

<p>
  <strong>Color:</strong>
  <%= @person.text %>
</p>

<p>
  <strong>Age:</strong>
  <%= @person.amount %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @person.text %>
</p>

<%= link_to 'Back', persons_path %>
